# Compiled class file
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/

# Maven specific files
target/
mvnw
mvnw.cmd
.mvn/

# Gradle specific files
build/
.gradle/

# Spring Boot specific files
spring-boot-starter-*.log
